* { font-family: "Noto sans", sans-serif; box-sizing: border-box; }
body { padding: 0; background: #121212; color: #fff; }

/* Top Div Styling */
.topnav { overflow: hidden; background-color: var(--topnav-bg); border-radius: 10px; margin-top: 10px; margin-right: 10px; margin-left: 10px; }
.topnav a { float: left; color: var(--color-fg); text-align: center; padding: 14px 19px; text-decoration: none; font-size: 17px; }
.topnav a:hover { font-weight: bold; }
.topnav a.active { background-color: transparent; color: var(--color-fg); }
.topnav .right { float:right; }
.topnav .agentsgamsicon { text-shadow: 1px 3px 3px gray; }
.dropdown { float: right; overflow: hidden; }
.dropdown .dropbtn { font-size: 16px; border: none; outline: none; color: white; padding: 14px 16px; background-color: inherit; font-family: inherit; margin: 0; }
.navbar a:hover, .dropdown:hover .dropbtn { font-weight: bold; }
.dropdown-content { display: none; position: absolute; background-color: transparent; right: 10px; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2); z-index: 1; }
.dropdown-content a { float: none; color: white; padding: 12px 16px; text-decoration: none; display: block; text-align: left; }
.dropdown-content a:hover { font-weight: bold; }
.dropdown:hover .dropdown-content { display: block; }


.center { position: fixed; top: 50%; left: 1%; width: 500px; display: flex; flex-direction: column; gap: 20px; text-align: left; transform: translateY(-50%); }

.date { font-size: 22.5px; line-height: 50%; }
.time { font: 55px monospace; }
.battery { font-size: 15px; }

.url-bar { display: flex; align-items: center; padding: 0; background-color: #1e1e2e; }
#url-input { flex: 1; padding: 5px; background-color: #181825; border: #11111b; color: #cdd6f4; }
#search-button { padding: 5px 10px; background-color: #94ffe4; color: #11111b; border: none; cursor: pointer; }


.modal { display: none; position: absolute; z-index: 1; right: 2%; top: 60px; width: 300px; background-color: rgba(255, 255, 255, 0.9); border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
.modal-content { padding: 20px; color: #000; }
.close-button { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
.close-button:hover, .close-button:focus { color: black; text-decoration: none; cursor: pointer; }

.popular-sites { display: flex; flex-wrap: wrap; justify-content: center; margin: 20px; }
.site { background-color: #1e1e2e; border-radius: 10px; margin: 10px; padding: 10px; text-align: center; width: 200px; transition: transform 0.2s; }
.site:hover { transform: scale(1.05); }
.site img { width: 100%; border-radius: 10px; }
.site h3 { color: #fff; margin: 10px 0 0 0; }
.site a { cursor: pointer; }